.jumbotron{
    background-color: goldenrod;
    color: black;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: goldenrod;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    margin-top: 10px;    
}

.footer-address-icon{
    padding-right: 10px;
}
.image-card{
    width: 150px;
}